body{
    font-family: 'Roboto', sans-serif;
    background: grey;
    word-break: keep-all;
    white-space: normal;

}

.titleEmphasis{
    font-weight: bolder;
    font-family: 'Roboto Slab', serif;
}

.cvItem{
    margin-bottom: 8pt;
    break-inside: avoid;
}
.cvList{
    margin-left: 12pt;
    column-count: 5;    
    
}

h2{
    font-weight: bolder;
    font-family: 'Roboto Slab', serif;
    margin: 0pt;
    padding: 0pt;
    margin-bottom: 6pt;
    margin-top: 12pt;
}

h1{
    font-weight: bolder;
    font-family: 'Roboto Slab', serif;
    padding: 0pt;
    margin: 0pt;
}

.CVHeading{
    display: block;
    flex-direction: row;
    margin-bottom: 12pt;
}
.cvSection{
    break-inside: avoid;
}
a{
    color: inherit;
    font-style: normal;
    text-emphasis: none;
    text-decoration: none;
}

.CVsubtitle{
    font-weight: bolder;
    font-family: 'Roboto Slab', serif;
    font-size: 14pt;
    margin: 0pt;
    padding: 0pt;
    margin-bottom: 7pt;
    vertical-align: bottom;
}

.CVHeaderInfo{
    font-weight: light;
    font-family: 'Roboto Slab', serif;
    margin: 0pt;
    padding: 0pt;
    vertical-align: bottom;

    
}

.page {
    background: whitesmoke;
    width: 8.5in;
    margin: 1in;
    padding: 1in;
    box-shadow: 5px 5px black;
}
.cvDescription{
    text-align: justify;
    margin-left: 12pt;
}
.performanceDate{
  margin-right:  25px;
  min-width: 100px;
  text-align: right;
}

@media print{
    .page{
    margin: 0pt;
    padding: 0pt ;
    box-shadow: none;
    }
    @page{
        margin: 1in;
    }
}

li{
    margin-bottom:6pt;
}